<div class="email" >
  <h3 style="color :maroon;"> for all questions write to me by mail </h3>

  <%= mail_to 'mark.mazur007@gmail.com' do; end %>
  <p style="text-decoration: indigo"> mark.mazur007@gmail.com </p>
</div>
